
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrueba.cshtml";
}


  
    <head>

        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>4 Columns Full Width  | Porto - Responsive HTML5 Template 7.6.0</title>

        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Porto - Responsive HTML5 Template">
        <meta name="author" content="okler.net">

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="~/vendor/animate/animate.min.css">
        <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
        <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/css/star-rating.min.css">
        <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="~/css/theme.css">
        <link rel="stylesheet" href="~/css/theme-elements.css">
        <link rel="stylesheet" href="~/css/theme-blog.css">
        <link rel="stylesheet" href="~/css/theme-shop.css">

        <!-- Demo CSS -->
        <!-- Skin CSS -->
        <link rel="stylesheet" href="~/css/skins/default.css">

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="~/css/custom.css">

        <!-- Head Libs -->
        <script src="~/vendor/modernizr/modernizr.min.js"></script>

    </head>
    <body>
        <section class="body">

            <div class="inner-wrapper">

                <section role="main" class="content-body card-margin">

                    <div class="body">


                       


                        <div class="container">



                            @*<div class="masonry-loader masonry-loader-showing">*@
                            <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-1.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Photo Camera</h4>
                                                <span class="price">
                                                    <del><span class="amount">$325</span></del>
                                                    <ins><span class="amount text-dark font-weight-semibold">$299</span></ins>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-2.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Golf Bag</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$72</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-3.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Workout</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$60</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-4.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Luxury bag</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$199</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-5.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Ladies' handbag</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$189</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-6.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Baseball Cap</h4>
                                                <span class="price">
                                                    <del><span class="amount">$25</span></del>
                                                    <ins><span class="amount text-dark font-weight-semibold">$22</span></ins>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-7.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Blue Ladies Handbag</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$290</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product">
                                    <span class="product-thumb-info border-0">
                                        <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                            <span class="text-uppercase text-1">Add to Cart</span>
                                        </a>
                                        <a href="shop-product-sidebar-left.html">
                                            <span class="product-thumb-info-image">
                                                <img alt="" class="img-fluid" src="~/img/products/product-grey-8.jpg">
                                            </span>
                                        </a>
                                        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                            <a href="shop-product-sidebar-left.html">
                                                <h4 class="text-4 text-primary">Military Rucksack</h4>
                                                <span class="price">
                                                    <span class="amount text-dark font-weight-semibold">$49</span>
                                                </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="pagination float-right">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>




                    @*</div>*@
                </section>
            </div>


        </section>

        <!-- Vendor -->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
        <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/vendor/jquery.cookie/jquery.cookie.min.js"></script>
        <script src="~/vendor/popper/umd/popper.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/vendor/common/common.min.js"></script>
        <script src="~/vendor/jquery.validation/jquery.validate.min.js"></script>
        <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
        <script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
        <script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
        <script src="~/vendor/isotope/jquery.isotope.min.js"></script>
        <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="~/vendor/vide/jquery.vide.min.js"></script>
        <script src="~/vendor/vivus/vivus.min.js"></script>
        <script src="~/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
        <script src="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="~/js/theme.js"></script>

        <!-- Current Page Vendor and Views -->
        <script src="~/js/views/view.shop.js"></script>

        <!-- Theme Custom -->
        <script src="~/js/custom.js"></script>

        <!-- Theme Initialization Files -->
        <script src="~/js/theme.init.js"></script>

     


    </body>
    
