
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>

    Esta es una pagina de Prueba
    <img alt="Logo" width="75" height="75" style="top: 1px" src="~/img/products/Empresa/CYS/IDIG1.png">
</body>
</html>
