
 @model  Tienda.Core.Entities.Usuario;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a href="~/Views/Shared/layouts-header-menu.html">Clikc</a>

Bienvenido


@Model.usuario <br />

@Model.Contrasenausuario

