
<!doctype html>
@{
   
      Layout = "~/Views/Shared/_Layout.cshtml";
}
  
 
    <body>
        <!-- start: page -->




        <div class="container center">

            <div class="row">
                <div class="col-lg-3">
                    <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                        
                            <div>
                               
                            </div>
                            
                      
                    </div>
                </div>
                    <div class="col-6">

                        <div class="panel card-sign">

                            <div class="card-body">
                                <form action="~/Login/AccesoUsuario" method="post">
                                    <div class="form-group mb-3">
                                        <img src="~/img/products/Empresa/CYS/LOGO.png" height="64" /> <br /><br />
                                        <label>Usuario</label>
                                        <div class="input-group">
                                            <input name="usuarioI" id="usuarioI" type="text" class="form-control form-control-lg" />
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <div class="clearfix">
                                            <label class="float-left">Contraseña</label>
                                            <a href="pages-recover-password.html" class="float-right">Olvidaste tu contraseña?</a>
                                        </div>
                                        <div class="input-group">
                                            <input name="contrasenaI" id="contrasenaI"  type="password" class="form-control form-control-lg" />
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    @*  *@
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="checkbox-custom checkbox-default">
                                                @*<input id="RememberMe" name="rememberme" type="checkbox" />
                                        <label for="RememberMe">Remember Me</label>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <button type="submit" class="btn btn-primary btn-modern  w-auto h-100">Ingresar</button>
                                        </div>
                                    </div>

                                    <span class="mt-3 mb-3 line-thru text-center text-uppercase">

                                    </span>


                                    @*<p class="text-center">¿Aún no tienes una cuenta? <a href="pages-signup.html">¡Regístrate!</a></p>*@

                                </form>
                            </div>
                        </div>

                        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2020. Todos los derechos reservados</p>
                    </div>

                </div>
            </div>
        <!-- end: page -->
         @*Vendor 
        <script src="~/vendor/jquery/jquery.js"></script>
        <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/vendor/popper/umd/popper.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/vendor/common/common.js"></script>
        <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>

         Theme Base, Components and Settings 
        <script src="~/js/theme.js"></script>

         Theme Custom 
        <script src="~/js/custom.js"></script>

         Theme Initialization Files 
        <script src="~/js/theme.init.js"></script>*@

    </body>
 
